.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #6123F0;
    margin-bottom: 50px;
}
.header__nav {
    display: flex;
    column-gap: 7px;
    font-size: 1.2em;
    font-weight: 500;
}
.header__nav a {
    text-decoration: none;
    text-transform: none;
    border: none;
    outline: none;
    color: white;
    padding: 0 8px;
    transition: .4s;
}
.header__nav a:hover {
    background-color: white;
    color: #6123F0;
}
