.workhour__cell {
    display: flex;
    column-gap: 40px;
}
.trip_cell {
    position: relative;
}
.trip {
    position: absolute;
    top: -18px;
    font-size: 0.7em;
}
.long  {
    background-color: red;
}
.short {
    background-color:  yellow;
}
.bigBus {
    background-color: green;
}